.card-container {
  padding-block-start: 40px;
  padding-block-end: 80px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
  align-items: center;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 24px;
  backdrop-filter: blur(39.7657px);
  border: 3.98px solid rgba(255, 255, 255, 0.50) ;
  /* border: 3.98px solid;
  border-image-source: radial-gradient(83.14% 78.52% at -12.32% -18.69%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%); */
}
.card-body {
  font-weight: bold;
}
.card-footer {
  font: var(--caption);
  opacity: 50%;
}
@media screen and (min-width: 768px) {
  .card {
    padding-block-start: 80px;
    padding-block-end: 80px;
    padding-inline-start: 80px;
    padding-inline-end: 80px;
    text-align: center;
  }
  .card-body {
    font: var(--headline4);
  }
  .card-footer {
    font: var(--headline5);
  }
}