.comment {
  padding-block-start: 40px;
  padding-block-end: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
}
.comment p {
  /* font-size: 24px; */
  margin: 0;
}
.comment-one {
  font: var(--headline5);
  font-weight: normal;
}
.comment-two {
  font: var(--headline5);
}

@media screen and (min-width: 768px) {
  .comment {
    padding-inline-start: 233px;
    padding-inline-end: 233px;
    padding-block-start: 200px;
    padding-block-end: 200px;
  }
}